<!DOCTYPE html>
<html lang="ro">
   <head>
      <title> ERROR 404 </title>
	  <meta charset="UTF-8">
	  <meta name="description" content="Promovarea Bazei Sportive de tenis PerfRackets">
	  <meta name="keywords" content="Contact, Numar, Telefon,Mail">
	  <meta name="author" content="Razvan Guta">
<link rel="stylesheet" type="text/css" href="/css/meniu.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	  <link rel="shortcut icon" href="">
      <link rel="stylesheet" type="text/css" href="/css/style404.css">
   </head>
	 <body>
	 <ul class="main-menu">
		    <li><a href="/index"> Home </a></li>
			<li> <a href="/proiectpg2"> Tarife </a>  </li>
			<li> <a href="/proiectpg3">Contact</a>
			<li id="new"> <a href="/InregUser">Inregistrare</a>
		   </ul>
	 <main>
       <p> 404! <br/>The page is out! New page please!! </p>
	 </main>
	 </body>
     
</html>

