<!DOCTYPE html>
<html lang="ro">
   <head>
      <title> Contact </title>
	  <meta charset="UTF-8">
	  <meta name="description" content="Promovarea Bazei Sportive de tenis PerfRackets">
	  <meta name="keywords" content="Contact, Numar, Telefon,Mail">
	  <meta name="author" content="Razvan Guta">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/script.js"></script>

	  <link rel="stylesheet" type="text/css" href="/css/meniu.css">
      <link rel="stylesheet" type="text/css" href="/css/stylepg2.css">
   </head>
	 <body>
	 <%-  include('../fragmente/header')  %>
         <div class="nav"> 
		  <ul class="main-menu">
		    <li><a href="/index"> Home </a></li>
			<li> <a href="/proiectpg2"> Tarife </a>  </li>
			<li> <a href="/proiectpg3">Contact</a>
			<li> <a href="/InregUser">Inregistrare</a>
		   </ul>
		   </div>
	 <main>
      <h1>JSON</h1>
    <p>Continut JSON</p>
        <!-- aici se va afisa continutul neprocesat al JSON-ului -->
        <div class="afis" id="afisJson">
    </div>
	 </main>
	  <%- include('../fragmente/footer')  %>
	 </body>
     
</html>
