<!DOCTYPE html>
<html lang="ro">
   <head>
      <title> Contact </title>
	  <meta charset="UTF-8">
	  <meta name="description" content="Promovarea Bazei Sportive de tenis PerfRackets">
	  <meta name="keywords" content="Contact, Numar, Telefon,Mail">
	  <meta name="author" content="Razvan Guta">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	  <link rel="shortcut icon" href="/imagini/favi.png">
	  <link rel="stylesheet" type="text/css" href="/css/meniu.css">
      <link rel="stylesheet" type="text/css" href="/css/stylepg3.css">
      <script src="/js/taskheader.js"> </script>
   </head>
	 <body>
	 <%-  include('../fragmente/header')  %>
         <div class="nav"> 
		  <ul class="main-menu">
		    <li><a href="/index"> Home </a></li>
			<li> <a href="/proiectpg2"> Tarife </a>  </li>
			<li> <a href="/proiectpg3">Contact</a>
			<li id="new"> <a href="/InregUser">Inregistrare</a>
		   </ul>
		   </div>
	 <main>
       <section>
	   <h2> Detalii contact </h2>
	   <p> <strong> Ne puteti gasi pe strada Performantei, numarul 1 <a href="https://www.google.ro/maps/place/Strada+Performanței+1,+București/@44.4351066,26.0134036,17z/data=!3m1!4b1!4m5!3m4!1s0x40b201abeed98671:0xcec2c20c3264e4c4!8m2!3d44.4351028!4d26.0155923"> aici</a> </strong> </p> 
	   <p> Pentru mai multe curiozitati, detalii sau inchirieri de terenuri apelati la: <br/> <strong> 076434216, 0231532122, 0782288222 </strong> </p>
	   <p> De asemenea ne puteti trimite intrebari pe adresele de e-mail </p>
	   <ul>
 <li> <a href="mailto:perf.rackets@frt.ro?"> perf.rackets@frt.ro </a> </li>
 <li> <a href="mailto:tenniperfrackets@gmail.com?"> tennisperfrackets@gmail.com </a> </li>
</ul>
	   </section>
	 </main>
	  <%- include('../fragmente/footer')  %>
	 </body>
     
</html>

